.Rproj.user
.Rhistory
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
inst/*html
inst/*_files/
analysis/*_cache
analysis/site_libs
inst/doc
/doc/
/Meta/

.Rproj.user/
*.swp
